.vertical-timeline-element-content {
  box-shadow: 0 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25),
    0 0.4em 1.25rem 0 rgba(0, 0, 0, 0.15) !important ;
  padding: 2em 3em !important;
}

.date {
  color: rgb(161 161 170);
  font-weight: bold !important;
}

#description {
  margin: 1.5rem 0 2em 0;
}

@media only screen and(max-with: 1700px) {
  .vertical-timeline-element-date {
    display: block !important;
    float: none !important;
    color: black;
  }
}
